{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Вы ввели неправильное имя или пароль. Пожалуйста, попробуйте ещё раз.
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <div class="alert alert-warning" role="alert">
                У вас нет доступа к этой странице.
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                Пожалуйста, войдите чтобы продолжить.
            </div>
        {% endif %}
    {% endif %}

    <div class="card text-bg-light mb-3" style="max-width: 30rem; margin: auto;">
        <div class="card-header text-center">Авторизация</div>
        <div class="card-body">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group mb-3">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>

                <div class="form-group mb-3">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>

                <input class="btn btn-primary btn-block" type="submit" value="Войти" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
